<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Create a new account</h2>
  </div>

  <div class="panel-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <%# password confirmation field
      <div class="row">
        <div class="form-group col-lg-4">
          <%#= f.label :password_confirmation %>
          <%#= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      <%# delete # + close both div above and you have a password confirmation field %>

      <%= f.submit "Sign up", class: "btn btn-primary" %>

    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
